<div class="security-sys-form">
    <h1 class="display-5 mb-5">Ассоциация системы корабля и показателя защищенности</h1>
    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="selectSecurity" class="form-label">Выберите показатель защищенности</label>
                    <select class="form-select" id="selectSecurity" formControlName="security_indicator">
                        <option *ngFor="let title of securityIndicatorTitles" [value]="title">{{ title }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="selectShipSystem" class="form-label">Выберите систему корабля</label>
                    <select class="form-select" id="selectShipSystem" formControlName="ship_system">
                        <option *ngFor="let title of shipSystemTitles" [value]="title">{{ title }}</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <div class="association-list">
        <h2>Список ассоциаций:</h2>
        <div class="associations-container">
            <div *ngFor="let association of associations" class="row w-100 align-items-center mb-2">
                <div class="model col">{{ association["model1"] }}</div>
                <hr class="w-25 m-0"/>
                <div class="model col">{{ association["model2"] }}</div>
            </div>
        </div>
    </div>
</div>