<div class="homepage">
    <h1 class="display-2 mb-5">База данных систем кораблей</h1>
    <p class="font-monospace fs-5">Данная база данных предназначена для пополнения информации о существующих 
        кораблях и вывода характеристик судовых систем. Просьба заполнять реальные данные, так как в дальнейшем информация может пригодиться.
        Приступайте к заполнению, разрази меня гром!</p>

    <div class="wrap">
        <div class="ocean"></div>
        <div class="ocean-overlay"></div>
        <div class="here-there">
            <div class="traslate">
                <div class="ship">
                    <div class="bottom-1">
                        <div class="bottom-1-top"></div>
                        <div class="bottom-1-top-left"></div>
                        <div class="bottom-1-top-right">
                            <div class="bottom-1-top-right-window"></div>
                        </div>
                    </div>
                    <div class="ship-body">
                        <div class="middle-window"></div>
                        <div class="blue-strip-top"></div>
                        <div class="blue-strip-bottom"></div>
                        <div class="ship-body-top-back">
                            <div class="blue-strip-top-half"></div>
                        </div>
                        <div class="chimney-base">
                            <div class="chimney"></div>
                            <div class="chimney"></div>
                        </div>
                    </div>
                    <div class="ship-body-top-front">
                        <div class="top-antenna"></div>
                        <div class="circular-base"></div>
                        <div class="circular-base-1"></div>
                    </div>
                    <div class="ship-body-top-front-mirror"></div>
                </div>
            </div>
        </div>
    </div>
</div>