<div class="ship-system-form">
    <h1 class="display-3">Система корабля</h1>
    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
        <div class="mb-3">
          <label for="inputTitle" class="form-label">Название</label>
          <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp" formControlName="title"
          [ngClass]="{'invalid': form.get('title').invalid && form.get('title').touched}">
          <div id="titleHelp" class="form-text">Название системы корабля, которой нет в списке сохраненных</div>
        </div>
        <div class="mb-3">
          <label for="inputDescription" class="form-label">Описание</label>
          <input type="text" class="form-control" id="inputDescription" formControlName="description"
          [ngClass]="{'invalid': form.get('description').invalid && form.get('description').touched}">
        </div>
        <div class="mb-3">
          <label for="inputDescription" class="form-label">Тип</label>
          <input type="text" class="form-control" id="inputDescription" formControlName="type"
          [ngClass]="{'invalid': form.get('type').invalid && form.get('type').touched}">
        </div>
        <div class="mb-3">
          <label for="inputDescription" class="form-label">Категория</label>
          <select class="form-select" id="selectShipSystem" formControlName="category"
          [ngClass]="{'invalid': form.get('category').invalid && form.get('category').touched}">
            <option *ngFor="let id of [1, 2, 3]" [value]="id">{{ id }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="inputDescription" class="form-label">Документ</label>
          <input type="text" class="form-control" id="inputDescription" formControlName="document"
          [ngClass]="{'invalid': form.get('document').invalid && form.get('document').touched}">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid || form.disabled">Сохранить</button>
    </form>
    <div class="my-4">
      <h2>Существующие системы</h2>
      <div class="model-blocks">
        <div *ngFor="let model of models" class="model-block" (click)="openFullScreen(model)">{{ model.title }}</div>
      </div>
      <app-description-screen-sysship [(selectedModel)]="selectedModel" [tablename]="'ship_systems'" (deletedModel)="deleteModel($event)"></app-description-screen-sysship>
</div>