<div class="danger-form">
    <h1 class="display-3">Угроза</h1>
    <form>
        <div class="mb-3">
          <label for="inputTitle" class="form-label">Название</label>
          <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp">
          <div id="titleHelp" class="form-text">Название угрозы, которой нет в списке сохраненных</div>
        </div>
        <div class="mb-3">
          <label for="inputDescription" class="form-label">Описание</label>
          <input type="text" class="form-control" id="inputDescription">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>