<div class="ship-system-form">
    <h1 class="display-5 mb-5">Ассоциация корабля и его системы</h1>
    <form>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                  <label for="inputTitle" class="form-label">Название корабля</label>
                  <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp">
                  <div id="titleHelp" class="form-text">Выберите корабль из списка сохраненных</div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                  <label for="inputDescription" class="form-label">Название системы корабля</label>
                  <input type="text" class="form-control" id="inputDescription" aria-describedby="titleHelp">
                  <div id="titleHelp" class="form-text">Выберите корабль из списка сохраненных</div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>