<div class="security-indicator-form">
    <h1 class="display-3">Показатель защищенности</h1>
    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
        <div class="mb-3">
          <label for="inputTitle" class="form-label">Название</label>
          <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp" formControlName="title">
          <div id="titleHelp" class="form-text">Название показателя защищенности, которого нет в списке сохраненных</div>
        </div>
        <div class="mb-3">
          <label for="inputDescription" class="form-label">Описание</label>
          <input type="text" class="form-control" id="inputDescription" formControlName="description">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <div class="my-4">
      <h2>Существующие показатели защищенности</h2>
      <div class="model-blocks">
        <div *ngFor="let model of models" class="model-block"  (click)="openFullScreen(model)">{{ model['title'] }}</div>
      </div>
    </div>
    <div *ngIf="selectedModel" class="description-screen">
      <div class="row">
        <div class="col-3"><h2 class="my-3">Название:</h2></div>
        <div class="col-9"><h2 class="my-3">{{ selectedModel.title }}</h2></div>
      </div>
      <div class="row">
        <div class="col-3"><p class="my-3">Описание:</p></div>
        <div class="col-9"><p class="my-3">{{ selectedModel.description }}</p></div>
      </div>
      <button (click)="closeFullScreen()">Закрыть</button>
    </div>
</div>